/* start globa */
:root {
    --main-color: hsl(215, 51%, 70%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global  */

/* start card */
.card {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    max-width: 100%;
}

.card .container {
    width: 300px;
    max-width: 100%;
}

.card header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
}

.card header img {
    width: 18rem;
    height: 18rem;
    z-index: 1;
    border-radius: 10px;

}



.card header::before {
    content: "";
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-color: hsl(178, 100%, 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 12px;

}

.card header:hover::before {
    background-image: url('../images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;

}

header img:hover {
    cursor: pointer;
    z-index: -1;
}

@media(max-width:375px) {
    .card {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.card header img{
width: 100%;
height: 100%;
}
.card header::before{
    width: 100%;
    height: 100%;
    }
}

/* end card */

/* start name card  */
.name-card {
    margin-left: 0;
    max-width: 100%;
}

.name-card h1 {
    color: hsl(0, 0%, 100%);
    width: 300px;
    font-size: 20px;
    max-width: 100%;
}

.name-card h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.name-card p {
    font-size: 18px;
    font-weight: 300;
    width: 300px;
    color: var(--main-color);
}

@media (max-width:767px) {
    .name-card {
        margin-left: -10px;
    }

    .name-card p {
        width: 240px;
        font-size: 15px;
        line-height: 1.5;
    }
}

/* end name card  */

/* start center card */
.center-card {
    margin-top: 30px;
    position: relative;
    max-width: 100%;

}

.center-card .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.center-card .one {
    position: absolute;
    left: 15px;
    max-width: 100%;
}

.center-card h1 {
    position: absolute;
    left: 30px;
    font-size: 16px;
    color: hsl(178, 100%, 50%);
    max-width: 100%;
}

.center-card .two {
    position: absolute;
    right: 27%;
    max-width: 100%;
}

.center-card p {
    position: absolute;
    right: 0;
    color: var(--main-color);
    max-width: 100%;
}

.center-card::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    top: 30px;
    width: 100%;
    max-width: 100%;
}

@media(max-width:767px) {
    .center-card {
        padding: 20p;
    }

    .center-card .two {
        position: absolute;
        right: 80px;
    }

    .center-card .one {
        left: 5px;
    }

    .center-card h1 {
        left: 25px;
    }
}

/* end center card */
/* start footer card */
.footer-card {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.footer-card .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.footer-card img {
    width: 30px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    border: 2px solid white;

}

.footer-card p {
    color: var(--main-color);
    margin-left: 45px;
}

.footer-card span {
    color: white;
}
@media(max-width:767px) {
    .footer-card img {
        left: 5px;
    
    }
    
    .footer-card p {
        margin-left: 40px;
    }
}
/* end footer card */